  /*
    Flaticon icon font: Flaticon
    Creation date: 17/02/2021 11:41
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-marketing:before {
    content: "\f101";
}
.flaticon-web-development:before {
    content: "\f102";
}
.flaticon-web-design:before {
    content: "\f103";
}
.flaticon-digital-camera:before {
    content: "\f104";
}
.flaticon-social-network:before {
    content: "\f105";
}
.flaticon-projection-screen:before {
    content: "\f106";
}
.flaticon-files-and-folders:before {
    content: "\f107";
}
.flaticon-page-layout:before {
    content: "\f108";
}
.flaticon-online-learning-1:before {
    content: "\f109";
}
.flaticon-seo-expert:before {
    content: "\f10a";
}
.flaticon-rating-1:before {
    content: "\f10b";
}
.flaticon-access:before {
    content: "\f10c";
}
.flaticon-online-learning-2:before {
    content: "\f10d";
}
.flaticon-shopping-bag:before {
    content: "\f10e";
}
.flaticon-briefcase:before {
    content: "\f10f";
}
.flaticon-badge:before {
    content: "\f110";
}
.flaticon-graduate-cap:before {
    content: "\f111";
}
.flaticon-play:before {
    content: "\f112";
}
.flaticon-read:before {
    content: "\f113";
}
.flaticon-search:before {
    content: "\f114";
}
.flaticon-vector:before {
    content: "\f115";
}
.flaticon-working-at-home:before {
    content: "\f116";
}
.flaticon-graduation:before {
    content: "\f117";
}
.flaticon-online-learning-3:before {
    content: "\f118";
}
.flaticon-online-learning-4:before {
    content: "\f119";
}
.flaticon-worldwide:before {
    content: "\f11a";
}
.flaticon-document:before {
    content: "\f11b";
}
.flaticon-wall-clock:before {
    content: "\f11c";
}
.flaticon-bar-chart:before {
    content: "\f11d";
}
.flaticon-document-1:before {
    content: "\f11e";
}
.flaticon-online-learning-5:before {
    content: "\f11f";
}
.flaticon-play-1:before {
    content: "\f120";
}
.flaticon-video:before {
    content: "\f121";
}
.flaticon-next:before {
    content: "\f122";
}
.flaticon-back:before {
    content: "\f123";
}
.flaticon-diagonal-arrow:before {
    content: "\f124";
}
.flaticon-up-right-arrow:before {
    content: "\f125";
}
.flaticon-phone-call:before {
    content: "\f126";
}
.flaticon-mail:before {
    content: "\f127";
}
.flaticon-online-training:before {
    content: "\f128";
}
.flaticon-teacher:before {
    content: "\f129";
}
.flaticon-web:before {
    content: "\f12a";
}
.flaticon-leadership:before {
    content: "\f12b";
}
.flaticon-promotion:before {
    content: "\f12c";
}
.flaticon-rocket:before {
    content: "\f12d";
}
.flaticon-calendar:before {
    content: "\f12e";
}
.flaticon-location:before {
    content: "\f12f";
}
.flaticon-online-course:before {
    content: "\f130";
}
.flaticon-credit-card:before {
    content: "\f131";
}
.flaticon-online-learning-6:before {
    content: "\f132";
}
.flaticon-online-course-1:before {
    content: "\f133";
}
.flaticon-online-class:before {
    content: "\f134";
}
.flaticon-course:before {
    content: "\f135";
}
.flaticon-exam:before {
    content: "\f136";
}
.flaticon-review:before {
    content: "\f137";
}
.flaticon-announcement-1:before {
    content: "\f138";
}
.flaticon-web-programming:before {
    content: "\f139";
}
.flaticon-design-1:before {
    content: "\f13a";
}
.flaticon-person-1:before {
    content: "\f13b";
}
.flaticon-digital-art:before {
    content: "\f13c";
}
.flaticon-tech:before {
    content: "\f13d";
}
.flaticon-social-media:before {
    content: "\f13e";
}
.flaticon-photo-camera:before {
    content: "\f13f";
}
.flaticon-teacher-1:before {
    content: "\f140";
}
.flaticon-online-learning-7:before {
    content: "\f141";
}
.flaticon-provision:before {
    content: "\f142";
}
.flaticon-online-course-2:before {
    content: "\f143";
}
.flaticon-rating-2:before {
    content: "\f144";
}
.flaticon-science-1:before {
    content: "\f145";
}
.flaticon-certificate-1:before {
    content: "\f146";
}
.flaticon-online-learning-8:before {
    content: "\f147";
}
.flaticon-youtube:before {
    content: "\f148";
}
.flaticon-tools:before {
    content: "\f149";
}
.flaticon-megaphone:before {
    content: "\f14a";
}
.flaticon-software:before {
    content: "\f14b";
}
.flaticon-architecture:before {
    content: "\f14c";
}
.flaticon-person-2:before {
    content: "\f14d";
}
.flaticon-save-money:before {
    content: "\f14e";
}
.flaticon-user:before {
    content: "\f14f";
}
.flaticon-select:before {
    content: "\f150";
}
.flaticon-video-files:before {
    content: "\f151";
}
.flaticon-night:before {
    content: "\f152";
}
.flaticon-brightness:before {
    content: "\f153";
}
.flaticon-maximize:before {
    content: "\f154";
}
.flaticon-email:before {
    content: "\f155";
}
.flaticon-notification:before {
    content: "\f156";
}
.flaticon-discovery:before {
    content: "\f157";
}
.flaticon-play-button:before {
    content: "\f158";
}
.flaticon-book:before {
    content: "\f159";
}
.flaticon-list:before {
    content: "\f15a";
}
.flaticon-time-management:before {
    content: "\f15b";
}
.flaticon-categories:before {
    content: "\f15c";
}
.flaticon-check:before {
    content: "\f15d";
}
.flaticon-filter-results-button:before {
    content: "\f15e";
}
.flaticon-heart:before {
    content: "\f15f";
}
.flaticon-video-file:before {
    content: "\f160";
}
.flaticon-puzzle:before {
    content: "\f161";
}
.flaticon-clock:before {
    content: "\f162";
}
.flaticon-translate:before {
    content: "\f163";
}
.flaticon-badge-1:before {
    content: "\f164";
}
.flaticon-infinity:before {
    content: "\f165";
}
.flaticon-play-button-1:before {
    content: "\f166";
}
.flaticon-play-2:before {
    content: "\f167";
}
.flaticon-locked-padlock:before {
    content: "\f168";
}
.flaticon-new-document:before {
    content: "\f169";
}
.flaticon-file:before {
    content: "\f16a";
}
.flaticon-blank-page:before {
    content: "\f16b";
}
.flaticon-question:before {
    content: "\f16c";
}
.flaticon-comment:before {
    content: "\f16d";
}
.flaticon-setting:before {
    content: "\f16e";
}
.flaticon-power:before {
    content: "\f16f";
}
.flaticon-coupon:before {
    content: "\f170";
}
.flaticon-user-avatar:before {
    content: "\f171";
}
.flaticon-unlock:before {
    content: "\f172";
}
.flaticon-bag:before {
    content: "\f173";
}
.flaticon-success:before {
    content: "\f174";
}
.flaticon-bookmark:before {
    content: "\f175";
}
.flaticon-bookmark-1:before {
    content: "\f176";
}
.flaticon-bookmark-2:before {
    content: "\f177";
}
.flaticon-edit:before {
    content: "\f178";
}
.flaticon-bin:before {
    content: "\f179";
}
.flaticon-flag:before {
    content: "\f17a";
}
.flaticon-cloud:before {
    content: "\f17b";
}
.flaticon-sort:before {
    content: "\f17c";
}
.flaticon-eye:before {
    content: "\f17d";
}
.flaticon-calendar-1:before {
    content: "\f17e";
}
.flaticon-zoom-in:before {
    content: "\f17f";
}
.flaticon-link:before {
    content: "\f180";
}
.flaticon-home:before {
    content: "\f181";
}
.flaticon-employee:before {
    content: "\f182";
}
.flaticon-printer:before {
    content: "\f183";
}
.flaticon-share:before {
    content: "\f184";
}
.flaticon-message:before {
    content: "\f185";
}
.flaticon-friend:before {
    content: "\f186";
}
.testimonials-item:before,
.wp-block-quote:before,
blockquote:before{
    content: "“";
}